
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-y: auto;
}
.container-fluid{
    padding: 0px !important;
}

h1{
    @include fuente(45px, 400, $color-primario);
}
h2{
    @include fuente(25px, 500, $color-primario);
}
h3{
    @include fuente(35px, 600, $color-primario);
}
