.principal{
    position: fixed;
    top: 25vh;
    height: 75vh;
    width: 100vw;
    background-image: url('../assets/fotos/patada.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}