.section-frase{
    box-shadow: -2px -18px 33px 34px white;
    height: 100%;
    width: 100vw;
    background-color: white;
    position: relative;
    top: 95vh;
    //clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    .container-frase{
        position: relative;
        top: -100px;
        z-index: 10;
        .frase{
            margin: 0px;
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-size: 120px;
            font-style: normal;
            color: $color-primario;
             
        }
    }
    
}