.section-frase{
    height: 80vh;
    width: 100vw;
    background-color: white;
    position: relative;
    top: 95vh;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    .frase{
        margin: 0px;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-size: 120px;
        font-style: normal;
        color: $color-primario;
        border-color: $color-primario;
        
    }
}